<template>
  <div class="content-create">
    <div class="content-head">
      <h2 class="content-head-title">Добавить братка (петуха) в Зал Славы</h2>
    </div>
    <div class="content-container">
      <form @submit.prevent="submit()" class="fields">
        <div class="fields-field file half-width" :class="{'error': fields.player_img.error}">
          <label class="fields-field-label">Картинка игрока</label>
          <file-upload @setUrl="url = $event" fieldName="player_img"/>
        </div>
        <div class="fields-field file half-width" :class="{'error': fields.player_country.error}">
          <label class="fields-field-label">Флаг страны</label>
          <file-upload @setUrl="url = $event" fieldName="player_country"/>
        </div>
        <div class="fields-field input" :class="{'error': fields.player_nickname.error}">
          <label class="fields-field-label">Никнэйм</label>
          <input v-model="fields.player_nickname.value" class="fields-field-input" type="text">
        </div>
        <div class="fields-field input" :class="{'error': fields.player_name.error}">
          <label class="fields-field-label">Имя в реале</label>
          <input v-model="fields.player_name.value" class="fields-field-input" type="text">
        </div>
        <div class="fields-field input" :class="{'error': fields.player_social_page.error}">
          <label class="fields-field-label">Страница ВК</label>
          <input v-model="fields.player_social_page.value" class="fields-field-input" type="text">
        </div>
        <div class="fields-field array full-width" :class="{'error': fields.trophies.error}">
          <label class="fields-field-label">Трофеи</label>
          <nested-min fieldName="trophies" :nestedDataItem="trophiesDataOnAdd">
            <template v-slot:default="slotData">
              <div class="nested-container">
                <img class="nested-min-item-img" :src="`${$store.state.apiUrls.api}/${slotData.nestedItemSlot.img}`">
                <span class="nested-min-item-title">{{ slotData.nestedItemSlot.title }}</span>
              </div>
            </template>
          </nested-min>
        </div>
        <div class="fields-field array full-width" :class="{'error': fields.trophies_other.error}">
          <label class="fields-field-label">Другие трофеи</label>
          <nested-min fieldName="trophies_other" :nestedDataItem="trophiesOtherDataOnAdd">
            <template v-slot:default="slotData">
              <div class="nested-container">
                <img class="nested-min-item-img" :src="`${$store.state.apiUrls.api}/${slotData.nestedItemSlot.img}`">
                <span class="nested-min-item-title">{{ slotData.nestedItemSlot.title }}</span>
              </div>
            </template>
          </nested-min>
        </div>
        <div class="submit">
          <button class="submit-button">Опубликовать</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import NestedMin from '@/components/NestedMin'
import FileUpload from '@/components/FileUpload'
import { createNamespacedHelpers } from 'vuex'

const { mapState, mapMutations, mapActions } = createNamespacedHelpers('ContentControl')

export default {
  methods: {
    init() {
      this.setFields({
        player_nickname: { value: '', error: false, required: true },
        player_name: { value: '', error: false, required: false },
        player_country: { value: '', error: false, required: false, uploadState: 0 },
        player_img: { value: '', error: false, required: false, uploadState: 0 },
        player_social_page: { value: '', error: false, required: false },
        trophies: {
          value: [],
          isArray: true,
          children: {
            title: { type: 'string', title: 'Название', required: false },
            img: { type: 'file', title: 'Изображение', required: false }
          },
          error: false
        },
        trophies_other: {
          value: [],
          isArray: true,
          children: {
            title: { type: 'string', title: 'Название', required: false },
            img: { type: 'file', title: 'Изображение', required: false }
          },
          error: false,
        }
      })
      this.setRequestUrl({
        get: this.$store.state.apiUrls.hallOfFame,
        post: this.$store.state.apiUrls.hallOfFame
      })
    },
    submit() {
      this.postContent({ edit: false })
        .then(() => {
          this.$router.push({ name: 'hallOfFame-index'})
        })
    },
    ...mapMutations([
      'setFields',
      'setRequestUrl'
    ]),
    ...mapActions([
      'postContent'
    ])
  },
  data() {
    return {
      trophiesDataOnAdd: {
        title: '',
        img: ''
      },
      trophiesOtherDataOnAdd: {
        title: '',
        img: ''
      }
    }
  },
  created() {
    this.init()
    this.$store.commit('Sounds/addSounds', {
      success: '/sounds/Success.wav',
      error: '/sounds/Error.wav',
      proceeded: '/sounds/Proceeded.wav'
    })
  },
  computed: {
    ...mapState([
      'fields'
    ])
  },
  components: {
    FileUpload,
    NestedMin
  }
}
</script>