<template>
  <div class="content-index">
    <div class="content-head">
      <h2 class="content-head-title">Зал славы</h2>
      <div class="btn-square">
        <img class="btn-square-gif" src="@/assets/img/inu.gif">
        <router-link :to="`/hall_of_fame/create`" class="btn-square-button" @click="create()">Создать</router-link>
      </div>
      <div class="btn-square">
        <router-link :to="'/hall_of_fame/page-settings'" class="btn-square-button">Настройки страницы</router-link>
      </div>
    </div>
    <div class="content">
      <div class="content-table-wrap">
        <table class="content-table">
          <tr class="content-table-tr head">
            <td class="content-table-td players">Игроки</td>
            <td class="content-table-td trophies">Награды за турниры</td>
            <td class="content-table-td trophies-other">Остальные награды</td>
            <td class="content-table-td icons"></td>
          </tr>
          <tr v-for="contentItem in contentData" :key="contentItem._id" class="content-table-tr">
            <td class="content-table-td players">
              <a v-if="contentItem.player_social_page" :href="contentItem.player_social_page" class="content-table-name link">{{ contentItem.player_nickname }}</a>
              <span v-else class="content-table-name">{{ contentItem.player_nickname }}</span>
              <span v-if="contentItem.player_name" class="content-table-name"> ({{ contentItem.player_name }})</span>
              <img v-if="contentItem.player_country" :src="$store.getters.getImgUrl({ url: contentItem.player_country })" class="content-table-country">
              <img v-if="contentItem.player_img" :src="$store.getters.getImgUrl({ url: contentItem.player_img })" class="content-table-plImage">
            </td>
            <td class="content-table-td trophies">
              <div class="content-table-trophies">
                <div v-for="trophy in contentItem.trophies" :key="trophy._id" class="content-table-trophies-trophy">
                  <img :src="$store.getters.getImgUrl({ url: trophy.img })" :title="trophy.title" class="content-table-trophies-trophy-img">
                </div>
              </div>
            </td>
            <td class="content-table-td trophies-other">
              <div class="content-table-trophies">
                <div v-for="trophy in contentItem.trophies_other" :key="trophy._id" class="content-table-trophies-trophy">
                  <img :src="$store.getters.getImgUrl({ url: trophy.img })" :title="trophy.title" class="content-table-trophies-trophy-img">
                </div>
              </div>
            </td>
            <td class="content-table-td icons">
              <div class="content-table-icons-wrap">
                <router-link :to="`/hall_of_fame/edit/${contentItem._id}`" class="content-table-icon">
                  <icon-edit class="content-table-icon-icon"/>
                </router-link>
                <div @click="setForDelete({ requestUrl: `${$store.state.apiUrls.hallOfFame}`, itemId: `${contentItem._id}`})" class="content-table-icon">
                  <icon-trash class="content-table-icon-icon"/>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <pagination @change="loadContent()"/>
    </div>
  </div>
</template>

<script>
import IconEdit from '@/components/icons/IconEdit'
import IconTrash from '@/components/icons/IconTrash'
import Pagination from '@/components/Pagination'
import { createNamespacedHelpers } from 'vuex'

const { mapState, mapMutations, mapActions, mapGetters } = createNamespacedHelpers('ContentControl')

export default {
  key: to => to.fullPath,
  methods: {
    create() {
      this.$router.push({ name: 'hallOfFame-create' })
    },
    ...mapMutations([
      'setContentData',
      'setContentTotal',
      'setSearchQuery',
      'setSortQuery',
      'setRequestUrl',
      'setPageItemLimit'
    ]),
    ...mapActions([
      'setForDelete',
      'getContent'
    ])
  },
  created() {
    this.setPageItemLimit(100)
    this.setSearchQuery('')
    this.setSortQuery({ orderBy: 'player_nickname', sortBy: 'desc'})
    this.setRequestUrl({
      get: this.$store.state.apiUrls.hallOfFame
    })
    this.getContent({
      url: this.$store.state.apiUrls.hallOfFame,
      totalAmountUrl: this.$store.state.apiUrls.hallOfFameCount
    })
  },
  computed: {
    ...mapState({
      contentData: state => state.contentData
    }),
    ...mapGetters([
      'paginationQuery'
    ])
  },
  components: {
    IconEdit,
    IconTrash,
    Pagination
  }
}
</script>

<style lang="scss" scoped>
  

</style>
