<template>
    <div class="index-page">
        <div class="head">
            <div class="head-navigation">
                <router-link :to="'/page-settings'" class="head-navigation-button btn-square-button">Настройки главной</router-link>
                <router-link :to="'/user-mng'" class="head-navigation-button btn-square-button">Управление пользователями</router-link>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>

.index-page {
    width: 100%;
    margin: 40px;
}

.head {
    &-navigation {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        &-button {
            display: block;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}

</style>