<template>
  <div class="content-create">
    <div class="content-head">
      <h2 class="content-head-title">Управление пользователями</h2>
    </div>
    <div class="content-container">
      <form @submit.prevent="search()" class="fields">
        <div class="fields-field input">
          <label class="fields-field-label">Введите никнейм</label>
          <input v-model="nameSearch"
            type="text" class="fields-field-input">
          <button class="submit-button">Поиск...</button>
        </div>
      </form>
      <div v-if="set.hasOwnProperty('nickname')" class="set-user-info">
        <div class="user-field">
          <span class="user-field-label">Никнейм:</span>
          <span class="user-field-value">{{ set.nickname }}</span>
        </div>
        <div v-if="set.email" class="user-field">
          <span class="user-field-label">Email:</span>
          <span class="user-field-value">{{ set.email }}</span>
        </div>
         <div class="user-field">
          <span class="user-field-label">Должность:</span>
          <span class="user-field-value">{{ getRole(set.role).title }}</span>
        </div>
      </div>
      <form v-if="set.hasOwnProperty('nickname') && set.req_role === 'admin'"
        @submit.prevent="submit()" class="fields">
        <div :class="{'error': fields.nickname.error}" class="fields-field input">
          <label class="fields-field-label">Ник</label>
          <input v-model="fields.nickname.value"
            type="text" class="fields-field-input">
        </div>
        <div :class="{'error': fields.role.error}" class="fields-field fields-select">
          <label class="fields-field-label">Роль</label>
          <dropdown field="role" fieldList="parent_list" :custom="true"/>
        </div>
        <div class="submit">
          <button class="submit-button">Изменить</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Dropdown from '@/components/Dropdown'
import { createNamespacedHelpers } from 'vuex'

const { mapState, mapMutations, mapActions } = createNamespacedHelpers('ContentControl')

export default {
  data() {
    return {
      nameSearch: '',
      set: {}
    }
  },
  methods: {
    search() {
      let nameSearchFiltered = this.nameSearch.toLowerCase()
      this.axios.get(`${this.$store.state.apiUrls.findUserByNickname}/${nameSearchFiltered}`)
        .then(res => {
          this.set = res.data.data[0]
          this.set.req_role = res.data.req_role
          this.setField({ name: 'nickname', value: res.data.data[0].nickname })
          this.setField({ name: 'role', value: res.data.data[0].role })
          this.setField({ name: 'role', fieldName: 'name', value: this.getRole(res.data.data[0].role).title})
        })
        .catch(err => {
          let errMsg
          switch (err.response.status) {
            case 400:
              errMsg = `Длина ника может быть от 3-х до 20-и символов`
              break;
            case 404:
              errMsg = `Пользователя с ником "${this.nameSearch}" не существует!`
              break;
            case 403:
              errMsg = `Недостаточно полномочий для действия`
              break;
            default:
              break;
          }
          this.launchNotification({ message: errMsg})
          this.$store.dispatch('Sounds/playSound', { sound: 'error', stopSame: true, volume: .8 })
        })
    },
    getRole(roleNameValue) {
      for (let role of this.fields.role.parent_list) {
        if (roleNameValue === role.value) {
          return role
        }
      }
    },
    init() {
      this.setFields({
        nickname: { value: '', error: false, required: true },
        role: {
          name: 'Выберите роль',
          value: '',
          parent_list: [
            { title: 'Пользователь', value: 'user'},
            { title: 'Редактор', value: 'editor'},
            { title: 'Админ', value: 'admin'}
          ], error: false, required: true
        }
      })
    },
    submit() {
      this.setRequestUrl({
        put: `${this.$store.state.apiUrls.editUserByNickname}/${this.set.nickname}`
      })
      this.postContent({ edit: true })
        .then(() => {
          this.$router.push({ name: 'index'})
        })
    },
    ...mapMutations([
      'setRequestUrl',
      'setField',
      'setFields'
    ]),
    ...mapActions([
      'getFields',
      'postContent',
      'launchNotification'
    ])
  },
  created() {
    this.init()
    this.$store.commit('Sounds/addSounds', {
      success: '/sounds/Success.wav',
      error: '/sounds/Error.wav'
    })
  },
  computed: {
    ...mapState([
      'fields'
    ])
  },
  components: {
    Dropdown
  }
}
</script>

<style lang="scss" scoped>
.submit-button {
  margin-top: 15px;
}

.set-user-info {
  margin: 25px 0;
  text-align: left;
}

.user-field {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &-label {
    font-family: Nes, sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 23px;
    margin-right: 5px;
  }

  &-value {
    color: rgb(235, 189, 181);
  }
}
</style>