<template>
  <div class="content-create">
    <div class="content-head">
      <h2 class="content-head-title">Редактировать публикацию</h2>
    </div>
    <div class="content-container">
      <form @submit.prevent="submit()" class="fields">
        <div class="fields-field file" :class="{'error': fields.img.error}">
          <label class="fields-field-label">Картинка</label>
          <file-upload @setUrl="url = $event" fieldName="img" page="edit"/>
        </div>
        <div class="fields-field input with-image" :class="{'error': fields.title.error}">
          <label class="fields-field-label">Название публикации</label>
          <input v-model="fields.title.value" class="fields-field-input" type="text">
        </div>
        <div class="fields-field input with-image" :class="{'error': fields.seo_title.error}">
          <label class="fields-field-label">Название страницы</label>
          <input v-model="fields.seo_title.value" class="fields-field-input" type="text">
        </div>
        <div class="fields-field input with-image" :class="{'error': fields.seo_alt.error}">
          <label class="fields-field-label">Alt для картинки (SEO)</label>
          <input v-model="fields.seo_alt.value" class="fields-field-input" type="text">
        </div>
        <div class="fields-field textarea" :class="{'error': fields.subtext.error}">
          <label class="fields-field-label">Краткое описание для превью</label>
          <textarea v-model="fields.subtext.value" class="fields-field-input" type="text"></textarea>
        </div>
        <div class="fields-field textarea" :class="{'error': fields.seo_desc.error}">
          <label class="fields-field-label">Описание (SEO)</label>
          <textarea v-model="fields.seo_desc.value" class="fields-field-input"></textarea>
        </div>
        <div class="fields-field textarea" :class="{'error': fields.seo_key.error}">
          <label class="fields-field-label">Ключевые слова (SEO)</label>
          <textarea v-model="fields.seo_key.value" class="fields-field-input" type="text"></textarea>
        </div>
        <div class="fields-field textarea editor" :class="{'error': fields.text.error}">
          <label class="fields-field-label">Текст публикации</label>
          <editor-textarea :editorId="'editor'" fieldName="text" :edit="true"/>
        </div>
        <div class="submit">
          <button class="submit-button">Опубликовать</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import FileUpload from '@/components/FileUpload'
import EditorTextarea from '@/components/EditorTextarea'
import { createNamespacedHelpers } from 'vuex'

const { mapState, mapMutations, mapActions } = createNamespacedHelpers('ContentControl')

export default {
  methods: {
    init() {
      this.setRequestUrl({
        get: `${this.$store.state.apiUrls.news}/${this.$route.params.id}`,
        put: `${this.$store.state.apiUrls.news}/${this.$route.params.id}`,
        parent_id: this.$store.state.apiIds.news
      })
      this.getFields({
        title: { value: '', error: false, required: true },
        seo_desc: { value: '', error: false, required: true },
        seo_alt: { value: '', error: false, required: true },
        seo_key: { value: '', error: false, required: true },
        seo_title: { value: '', error: false, required: true },
        img: { value: '', error: false, required: true, uploadState: 0 },
        url: { value: '', error: false, required: true },
        subtext: { value: '', error: false, required: true },
        text: { value: '', error: false, required: true }
      })
    },
    submit() {
      this.postContent({ edit: true })
        .then(() => {
          this.$router.push({ name: 'news-index'})
        })
    },
    ...mapMutations([
      'setRequestUrl'
    ]),
    ...mapActions([
      'getFields',
      'postContent'
    ])
  },
  created() {
    this.init()
    this.$store.commit('Sounds/addSounds', {
      success: '/sounds/Success.wav',
      error: '/sounds/Error.wav'
    })
  },
  computed: {
    ...mapState([
      'fields'
    ])
  },
  components: {
    FileUpload,
    EditorTextarea
  }
}
</script>