<template>
  <div class="content-index">
    <div class="content-head">
      <h2 class="content-head-title">Новости сообщества</h2>
      <div class="btn-square">
        <img class="btn-square-gif" src="@/assets/img/inu.gif">
        <router-link :to="`/news/create`" class="btn-square-button" @click="create()">Опубликовать</router-link>
      </div>
      <div class="btn-square">
        <router-link :to="'/news/page-settings'" class="btn-square-button">Настройки страницы</router-link>
      </div>
    </div>
    <div class="content">
      <ul class="content-list">
        <li v-for="item in contentData" :key="item._id" class="content-list-item">
          <div class="content-img-wrap">
            <img class="content-img" :src="`${$store.state.apiUrls.api}/${item.img}`" :alt="item.seo_alt">
          </div>
          <div class="content-info">
            <p class="content-title">{{ item.title }}</p>
            <p class="content-date">
              <span class="content-date-item">
                <span class="content-date-label">Созд:</span>
                <span class="content-date-value">{{ $store.getters.getCurrentTimezoneDate({ date: item.createdAt }) }}</span>
              </span>
              <span
                v-if="$store.getters.getCurrentTimezoneDate({ date: item.createdAt })
                  !== $store.getters.getCurrentTimezoneDate({ date: item.updatedAt })"
                  class="content-date-item">
                    <span class="content-date-label">Ред:</span>
                    <span class="content-date-value">{{ $store.getters.getCurrentTimezoneDate({ date: item.updatedAt }) }}</span>
              </span>
            </p>
            <p class="content-subtext">{{ item.subtext }}</p>
          </div>
          <div class="content-ctrl">
            <router-link :to="`/news/edit/${item._id}`" class="content-ctrl-icon">
              <icon-edit class="content-ctrl-svg"/>
            </router-link>
            <div @click="setForDelete({ requestUrl: `${$store.state.apiUrls.news}`, itemId: `${item._id}`})" class="content-ctrl-icon">
              <icon-trash class="content-ctrl-svg"/>
            </div>
          </div>
        </li>
      </ul>
      <pagination @change="loadContent()"/>
    </div>
  </div>
</template>

<script>
import IconEdit from '@/components/icons/IconEdit'
import IconTrash from '@/components/icons/IconTrash'
import Pagination from '@/components/Pagination'
import { createNamespacedHelpers } from 'vuex'

const { mapState, mapMutations, mapActions, mapGetters } = createNamespacedHelpers('ContentControl')

export default {
  key: to => to.fullPath,
  methods: {
    create() {
      this.$router.push({ name: 'news-create' })
    },
    ...mapMutations([
      'setContentData',
      'setContentTotal',
      'setSearchQuery',
      'setRequestUrl',
      'setPageItemLimit'
    ]),
    ...mapActions([
      'setForDelete',
      'getContent'
    ])
  },
  created() {
    this.setPageItemLimit(10)
    this.setSearchQuery(`parent_id:${this.$store.state.apiIds.news}`)
    this.setRequestUrl({
      get: this.$store.state.apiUrls.hallOfFame
    })
    this.getContent({
      url: this.$store.state.apiUrls.news,
      totalAmountUrl: this.$store.state.apiUrls.newsCount
    })
  },
  computed: {
    ...mapState({
      contentData: state => state.contentData
    }),
    ...mapGetters([
      'paginationQuery'
    ])
  },
  components: {
    IconEdit,
    IconTrash,
    Pagination
  }
}
</script>

<style lang="scss" scoped>
  .content-index {
    margin: 40px 0;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;

    @media screen and (max-width: 470px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .content {
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &-wrap {
        width: 170px;
        max-height: 316px;
      }
    }

    &-info {
      width: calc(100% - 350px);
      padding-left: 20px;

      @media screen and (max-width: 680px) {
        padding-left: 0;
        width: 100%;
      }
    }

    &-list {
      &-item {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        margin: 20px 0;
        color: #fff;
        text-align: left;
        position: relative;

        @media screen and (max-width: 680px) {
          flex-direction: column;
          align-items: center;
        }

        &:hover {
          .content-ctrl {
            opacity: 1;
          }
        }

        &:not(:last-child) {
          padding-bottom: 20px;

          &::after {
            content: '';
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #fff;
            position: absolute;
          }
        }
      }
    }
  }

  .content {
    &-title {
      color: #9ed4ff;
      font-size: 25px;
      letter-spacing: 1.2px;

      @media screen and (max-width: 680px) {
        margin-top: 10px;
      }
    }
    &-date {
      margin-top: 10px;
      font-family: Nes, sans-serif;
      font-size: 25px;

      &-item {

        @media screen and (max-width: 680px) {
          width: 100%;
          display: block;
        }

        &:not(:last-child) {
          margin-right: 30px;

          @media screen and (max-width: 680px) {
            margin-bottom: 5px;
          }
        }
      }

      &-label {
        margin-right: 5px;
        text-transform: uppercase;
        color: #d1b8fe;
      }
    }
    &-subtext {
      margin-top: 15px;
      line-height: 24px;
      font-family: Roboto, sans-serif;
      letter-spacing: .5px;
    }
  }

  .content {
    &-ctrl {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      display: flex;
      transition: .2s;
      opacity: 0;

      @media screen and (max-width: 1024px) {
        opacity: 1;
      }

      @media screen and (max-width: 680px) {
        width: 100%;
        margin-top: 15px;
        position: initial;
      }

      &-icon {
        &:not(:last-child) {
          margin-right: 20px;
        }

        &:hover {
          transform: scale(1.1);

          .content-ctrl-svg {
            fill: #9ed4ff;
          }
        }
      }

      &-svg {
        fill: #fff;
        width: 40px;
        height: 40px;
      }
    }
  }

  .btn-square {

    &:not(:first-of-type) {
      margin-left: 20px;
    }

    @media screen and (max-width: 640px) {
      margin-left: 0;
      margin-top: 15px !important;
      display: block !important;
    }
  }

</style>
