<template>
  <div class="content-create">
    <div class="content-head">
      <h2 class="content-head-title">Редактировать запись</h2>
    </div>
    <div class="content-container">
      <div class="video">
        <iframe
          width="560" height="315"
          v-if="fields.file.valueConverted"
          :src="`https://www.youtube.com/embed/${fields.file.valueConverted}`"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
      <form @submit.prevent="submit()" class="fields">
        <div class="fields-field file" :class="{'error': fields.img.error}">
          <label class="fields-field-label">Картинка</label>
          <file-upload @setUrl="url = $event" fieldName="img" page="edit"/>
        </div>
        <div class="fields-field input with-image" :class="{'error': fields.title.error}">
          <label class="fields-field-label">Название видосика</label>
          <input v-model="fields.title.value" class="fields-field-input" type="text">
        </div>
        <div class="fields-field fields-select"
          :class="{'error': fields.parent_id.error}">
          <label class="fields-field-label">Категория</label>
          <dropdown field="parent_id" fieldList="parent_list"/>
        </div>
        <div class="fields-field textarea" :class="{'error': fields.file.error}">
          <label class="fields-field-label">Youtube URL</label>
          <textarea @input="proceedYoutubeUrl" v-model="fields.file.value" class="fields-field-input" type="text"></textarea>
        </div>
        <div class="fields-field textarea" :class="{'error': fields.subtext.error}">
          <label class="fields-field-label">Описание</label>
          <textarea v-model="fields.subtext.value" class="fields-field-input" type="text"></textarea>
        </div>
        <div class="fields-field textarea" :class="{'error': fields.seo_key.error}">
          <label class="fields-field-label">Ключевые слова (SEO)</label>
          <textarea v-model="fields.seo_key.value" class="fields-field-input" type="text"></textarea>
        </div>
        <div class="submit">
          <button class="submit-button">Изменить</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import FileUpload from '@/components/FileUpload'
import Dropdown from '@/components/Dropdown'
import EditorTextarea from '@/components/EditorTextarea'
import { createNamespacedHelpers } from 'vuex'

const { mapState, mapMutations, mapActions } = createNamespacedHelpers('ContentControl')

export default {
  data() {
    return {
      checkStrings: [
          'youtube.com/watch?v=',
          'youtu.be/'
        ]
    }
  },
  methods: {
    getCategories() {
      this.axios.get(`${this.$store.state.apiUrls.api}${this.$store.state.apiUrls.videos}?search=parent_id:${this.$store.state.apiIds.videos}`)
        .then(categories => {
          if (categories) {
            this.setField({ name: 'parent_id', fieldName: 'parent_list', value: categories.data })
            this.setField({ name: 'parent_id', fieldName: 'value', value: this.getCategoryById(this.fields.parent_id.value)})
          }
        })
    },
    getCategoryById(id) {
      for (let category of this.fields.parent_id.parent_list) {
        if (category._id === id) {
          return category
        }
      }
    },
    validateYoutubeUrl(entries, string) {
      for (let entry of entries) {
        if (string.includes(entry)) {
          return true
        }
      }
      return false
    },
    proceedYoutubeUrl() {
      setTimeout(() => {
        let result = ''
        
        let fileCopy = JSON.parse(JSON.stringify(this.fields.file))
        this.setField({ name: 'file', value: fileCopy.value })
        for (let str of this.checkStrings) {
          if (fileCopy.value.includes(str)) {
            result = fileCopy.value.split(str)[1]
            this.setField({ name: 'file', fieldName: 'valueConverted', value: result })
            if (this.fields.img.value) {
              if(this.fields.img.value.includes(this.$store.state.videoUrlComp)) this.setField({ name: 'img', value: `https://img.youtube.com/vi/${result}/0.jpg`})
            }
            this.setField({ name: 'img', fieldName: 'error', value: false })
            this.setField({ name: 'img', fieldName: 'uploadState', value: 2 })
            break
          }
        }
      }, 500)
    },
    init() {
      this.setRequestUrl({
        get: `${this.$store.state.apiUrls.videos}/${this.$route.params.id}`,
        put: `${this.$store.state.apiUrls.videos}/${this.$route.params.id}`
      })
      this.getFields({
        title: { value: '', error: false, required: true },
        seo_desc: { value: '', error: false, required: true },
        seo_alt: { value: '', error: false, required: true },
        seo_key: { value: '', error: false, required: true },
        seo_title: { value: '', error: false, required: true },
        parent_id: { value: {title: 'Выберите категорию'}, parent_list: [], error: false, required: true },
        img: { value: '', error: false, required: true, uploadState: 0 },
        url: { value: '', error: false, required: true },
        subtext: { value: '', error: false, required: true },
        file: { value: '', valueConverted: '', error: false, required: true }
      })
      .then(res => {
        this.proceedYoutubeUrl()
        this.getCategories()
      })
    },
    submit() {
      this.setRequestUrl({
        get: `${this.$store.state.apiUrls.videos}/${this.$route.params.id}`,
        put: `${this.$store.state.apiUrls.videos}/${this.$route.params.id}`,
        parent_id: this.fields.parent_id.value._id,
        content_id: this.$store.state.apiIds.videos
      })
      this.setField({ name: 'seo_title', value: this.fields.title.value })
      this.setField({ name: 'seo_desc', value: this.fields.subtext.value })
      this.setField({ name: 'seo_alt', value: this.fields.title.value })
      this.setField({ name: 'file', fieldName: 'validate', value: this.validateYoutubeUrl(this.checkStrings, this.fields.file.value)})
      this.postContent({ edit: true })
        .then(() => {
          this.$router.push({ name: 'videos-index'})
        })
    },
    ...mapMutations([
      'setRequestUrl',
      'setField'
    ]),
    ...mapActions([
      'getFields',
      'postContent'
    ])
  },
  created() {
    this.init()
    this.$store.commit('Sounds/addSounds', {
      success: '/sounds/Success.wav',
      error: '/sounds/Error.wav'
    })
  },
  computed: {
    ...mapState([
      'fields'
    ])
  },
  components: {
    FileUpload,
    EditorTextarea,
    Dropdown
  }
}
</script>