<template>
  <div class="content-index">
    <div class="content-categories">
      <h2 class="content-categories-title">Категории видео</h2>
      <div class="btn-square">
        <router-link to="/videos/create-category" class="btn-square-button">Создать категорию</router-link>
      </div>
      <ul class="content-categories-list">
        <li class="content-category">
          <span v-if="$route.query.category" class="content-category-link" @click="loadCategory()">Все</span>
        </li>
        <li v-for="category in categories" :key="category._id"
          class="content-category">
          <span class="content-category-link" @click="loadCategory(category._id)">{{ category.title }}</span>
          <router-link @click="setForDelete({ requestUrl: `${$store.state.apiUrls.videos}`, itemId: `${category._id}`})"
            :to="`/videos/edit-category/${category._id}`"
            class="content-category-action edit"><icon-edit class="content-category-action-icon"/></router-link>
          <div @click="setForDelete({ requestUrl: `${$store.state.apiUrls.videos}`, itemId: `${category._id}`})"
            class="content-category-action remove"><icon-trash class="content-category-action-icon"/></div>
        </li>
      </ul>
    </div>
    <div class="content-head">
      <h2 class="content-head-title">Видео-архив</h2>
      <div class="btn-square">
        <img class="btn-square-gif" src="@/assets/img/inu.gif">
        <router-link :to="`/videos/create`" class="btn-square-button">Опубликовать</router-link>
      </div>
      <div class="btn-square">
        <router-link :to="'/videos/page-settings'" class="btn-square-button">Настройки страницы</router-link>
      </div>
    </div>
    <div class="content">
      <ul class="content-list">
        <li v-for="item in contentData" :key="item._id" class="content-list-item">
          <div class="content-img-wrap">
            <img v-if="item.img.includes($store.state.videoUrlComp)" class="content-img" :src="item.img" :alt="item.seo_alt">
            <img v-else class="content-img" :src="`${$store.state.apiUrls.api}/${item.img}`" :alt="item.seo_alt">
          </div>
          <div class="content-info">
            <div class="content-title-wrap">
              <div class="content-title-prewrap">
                <p class="content-title">{{ item.title }}</p>
              </div>
            </div>
            <p class="content-date">
              <span class="content-date-item">
                <span class="content-date-label">Созд:</span>
                <span class="content-date-value">{{ $store.getters.getCurrentTimezoneDate({ date: item.createdAt }) }}</span>
              </span>
              <span
                v-if="$store.getters.getCurrentTimezoneDate({ date: item.createdAt })
                  !== $store.getters.getCurrentTimezoneDate({ date: item.updatedAt })"
                  class="content-date-item">
                    <span class="content-date-label">Ред:</span>
                    <span class="content-date-value">{{ $store.getters.getCurrentTimezoneDate({ date: item.updatedAt }) }}</span>
              </span>
            </p>
            <p class="content-subtext">{{ item.subtext }}</p>
          </div>
          <div class="content-ctrl">
            <router-link :to="`/videos/edit/${item._id}`" class="content-ctrl-icon">
              <icon-edit class="content-ctrl-svg"/>
            </router-link>
            <div @click="setForDelete({ requestUrl: `${$store.state.apiUrls.videos}`, itemId: `${item._id}`})" class="content-ctrl-icon">
              <icon-trash class="content-ctrl-svg ctrl-delete"/>
            </div>
          </div>
        </li>
      </ul>
      <pagination @change="loadContent()"/>
    </div>
  </div>
</template>

<script>
import IconEdit from '@/components/icons/IconEdit'
import IconTrash from '@/components/icons/IconTrash'
import Pagination from '@/components/Pagination'
import { createNamespacedHelpers } from 'vuex'

const { mapState, mapMutations, mapActions, mapGetters } = createNamespacedHelpers('ContentControl')

export default {
  key: to => to.fullPath,
  methods: {
    create() {
      this.$router.push({ name: 'videos-create' })
    },
    getCategories() {
      this.axios.get(`${this.$store.state.apiUrls.api}${this.$store.state.apiUrls.videos}?search=parent_id:${this.$store.state.apiIds.videos}`)
        .then(categories => {
          if (categories) {
            this.categories = categories.data;
            console.log(this.categories);
          }
        })
    },
    loadCategory(id) {
      if (id) {
        this.$router.push({ name: 'videos-index', query: { category: id }}, () => {
          this.setSearchQuery(`parent_id:${id}`)
        })
      } else {
        this.$router.push({ name: 'videos-index'}, () => {
          this.setSearchQuery(`content_id:${this.$store.state.apiIds.videos}`)
        })
      }
      this.getContent({
        url: this.$store.state.apiUrls.videos,
        totalAmountUrl: this.$store.state.apiUrls.videosCount
      })
    },
    ...mapMutations([
      'setContentData',
      'setContentTotal',
      'setSearchQuery',
      'setRequestUrl',
      'setPageItemLimit',
      'setSortQuery',
    ]),
    ...mapActions([
      'setForDelete',
      'getContent'
    ])
  },
  created() {
    this.setSortQuery({ orderBy: 'title', sortBy: 'desc' })
    this.setPageItemLimit(3)
    this.setSearchQuery(`content_id:${this.$store.state.apiIds.videos}`)
    this.setRequestUrl({
      get: this.$store.state.apiUrls.videos
    })
    this.getContent({
      url: this.$store.state.apiUrls.videos,
      totalAmountUrl: this.$store.state.apiUrls.videosCount
    })

    this.getCategories();
  },
  computed: {
    ...mapState({
      contentData: state => state.contentData
    }),
    ...mapGetters([
      'paginationQuery'
    ])
  },
  data() {
    return {
      categories: []
    }
  },
  components: {
    IconEdit,
    IconTrash,
    Pagination
  }
}
</script>

<style lang="scss" scoped>
  .content-index {
    margin: 40px 0;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;

    @media screen and (max-width: 470px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .content {
    width: 100%;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      &-wrap {
        width: 100%;
        height: 280px;
        overflow: hidden;
        display: flex;
        align-items: center;
      }
    }

    &-info {
      width: 100%;
      padding-left: 0;

      @media screen and (max-width: 680px) {
        width: 100%;
      }
    }

    &-list {
      margin: 20px -15px;
      display: flex;
      flex-wrap: wrap;

      &-item {
        width: calc(25% - 30px);
        margin: 20px 15px;
        color: #fff;
        text-align: left;
        position: relative;
        display: block;

        @media screen and (max-width: 1024px) {
          width: calc(50% - 30px);
        }

        @media screen and (max-width: 520px) {
          width: 100%;
        }

        &:hover {
          .content-ctrl {
            opacity: 1;
          }
        }
        padding-bottom: 20px;

        &::after {
          content: '';
          bottom: -3px;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: #fff;
          position: absolute;
        }
      }
    }
  }

  .content {
    &-title {
      color: #9ed4ff;
      font-size: 20px;
      letter-spacing: 1.2px;

      &-wrap {
        overflow: hidden;
        height: 52px;
        line-height: 24px;

        &:before {
          content: '';
          float: left;
          width: 5px;
          height: 52px;
        }

        &:after {
          content: '\02026';
          box-sizing: content-box;
          float: right;
          position: relative;
          top: -25px;
          left: 100%;
          width: 3em;
          color: #9ed4ff;
          margin-left: -3em;
          padding-right: 5px;
          text-align: right;
        }
      }

      &-prewrap {
        float: right;
        width: 100%;
        margin-left: -5px;
      }

      @media screen and (max-width: 680px) {
        margin-top: 10px;
      }
    }
    &-date {
      margin-top: 10px;
      font-family: Nes, sans-serif;
      font-size: 25px;

      &-item {
        display: block;
      }

      &-label {
        margin-right: 5px;
        text-transform: uppercase;
        color: #d1b8fe;
      }
    }
    &-subtext {
      margin-top: 15px;
      line-height: 24px;
      font-family: Roboto, sans-serif;
      letter-spacing: .5px;
    }
  }

  .content {
    &-ctrl {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      display: flex;
      transition: .2s;
      opacity: 0;

      @media screen and (max-width: 1024px) {
        opacity: 1;
      }

      @media screen and (max-width: 680px) {
        width: 100%;
        margin-top: 15px;
        position: initial;
      }

      &-icon {
        &:not(:last-child) {
          margin-right: 20px;
        }

        &:hover {
          transform: scale(1.1);

          .content-ctrl-svg {
            fill: #9ed4ff;

            &.ctrl-delete {
              fill: #ff0000;
            }
          }
        }
      }

      &-svg {
        fill: #fff;
        width: 30px;
        height: 30px;
      }
    }
  }

  .content {
    &-categories {
      text-align-last: left;

      &-title {
        font-size: 38px;
        font-family: Nes, sans-serif;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1.2px;
      }

      &-list {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    &-category {
      display: flex;

      &:hover {
        .content-category-action {
          opacity: 1;
        }
      }

      &-link {
        color: #9ed4ff;
        font-size: 22px;
        cursor: pointer;
      }

      &-action {
        cursor: pointer;
        opacity: 0;

        &.remove {
          margin-left: 8px;

          &:hover .content-category-action-icon {
            fill: #ff0000;
          }

          .content-category-action-icon {
            fill: #ff9494;
          }
        }

        &.edit {
          margin-left: 15px;

          &:hover .content-category-action-icon {
            fill: #8591fc;
          }

          .content-category-action-icon {
            fill: #9ed4ff;
          }
        }

        &-icon {
          width: 22px;
          height: 22px;
          margin-top: 2px;
          transition: .3s fill;
        }
      }
    }
  }

  .btn-square {

    &:not(:first-of-type) {
      margin-left: 20px;
    }

    @media screen and (max-width: 640px) {
      margin-left: 0;
      margin-top: 15px !important;
      display: block !important;
    }
  }

</style>
