<template>
  <div class="image-overlay">
    <div class="image-overlay-wrap" :style="{backgroundColor: bgColor}"></div>
    <img class="image-overlay-img" :src="require(`@/assets/img/${bgImageName}`)">
  </div>
</template>
<script>
import { mapState } from 'vuex'

export default {
  props: ['image', 'color'],
  computed: {
    ...mapState([
      'bgImageName',
      'bgColor'
    ])
  }
}
</script>

<style lang="scss" scoped>
.image-overlay {
  position: relative;
  z-index: 0;

  &-wrap {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
  }

  &-img {
    z-index: 0;
    object-fit: cover;
    object-position: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
  }
}
</style>