<template>
  <div class="dropdown">
    <template v-if="!custom">
      <span @click="listActive = !listActive"
        class="dropdown-selected" :class="{'active': listActive}">{{ fields[field].value.title }}</span>
      <ul class="dropdown-list" :class="{ 'active': listActive }">
        <li v-for="listItem in categories"
          :key="listItem._id"
          @click="setItem(listItem)"
          class="dropdown-list-item">{{ listItem.title }}</li>
      </ul>
    </template>
    <template v-else>
      <span @click="listActive = !listActive"
        class="dropdown-selected" :class="{'active': listActive}">{{ fields[field].name }}</span>
      <ul class="dropdown-list" :class="{ 'active': listActive }">
        <li v-for="(listItem, index) in customList"
          :key="index"
          @click="setItem(listItem, true)"
          class="dropdown-list-item">{{ listItem.title }}</li>
      </ul>
    </template>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
const { mapState, mapMutations } = createNamespacedHelpers('ContentControl')

export default {
  props: ['field', 'fieldList', 'placeholder', 'custom'],
  data() {
    return {
      listActive: false,
      selected: { title: '' },
      ph: [
        { title: 'lol', _id: 234 },
        { title: 'what the frick?', _id: 235 },
        { title: 'now you pissed me off', _id: 237 },
        { title: 'what the frick?', _id: 238 },
        { title: 'the fuck', _id: 239 },
        { title: 'we love Fortnite', _id: 240 },
        { title: 'Something creative', _id: 241 },
        { title: 'but its just a placeholder', _id: 242 },
        { title: 'what am I wasting my time for?', _id: 243 },
      ]
    }
  },
  created() {
    if (this.placeholder) this.$set(this.fields[this.field].value, 'title', this.placeholder)
  },
  methods: {
    setItem(item, custom) {
      if (!custom) {
        this.listActive = false
        this.setField({ name: this.field, value: item })
        this.setField({ name: this.field, fieldName: 'error', value: false })
      } else {
        this.listActive = false
        this.setField({ name: this.field, value: item.value })
        this.setField({ name: this.field, fieldName: 'name', value: item.title })
        this.setField({ name: this.field, fieldName: 'error', value: false })
      }
    },
    ...mapMutations([
      'setField'
    ])
  },
  computed: {
    ...mapState([
      'fields'
    ]),
    categories() {
      return this.fields[this.field][this.fieldList].filter(category => category._id != this.fields[this.field].value._id)
    },
    customList() {
      return this.fields[this.field][this.fieldList]
    }
  }
}
</script>

<style lang="scss" scoped>
.dropdown {
  user-select: none;
  width: 100%;
  position: relative;

  &-selected {
    cursor: pointer;
    padding: 8px 5px 10px;
    display: inline-block;
    color: white;
    width: 100%;
    border: 1px solid #79aeff;

    &:hover {
      color: rgb(185, 185, 185);
    }
  }

  &-list {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: rgba(#000, .5);
    max-height: 233px;
    overflow-y: auto;

    &.active {
      display: initial;
      border-bottom: 1px solid #79aeff;
      border-left: 1px solid #79aeff;
      border-right: 1px solid #79aeff;
    }
    
    &-item {
      cursor: pointer;
      padding: 5px;
      color: rgb(226, 226, 226);

      &:hover {
        color: rgb(185, 185, 185);
      }
    }
  }
}
</style>