<template>
  <div class="ckeditor-textarea">
    <!-- <textarea :id="editorId" class="fields-field-input textarea" type="text"></textarea> -->
    <editor
      :id="editorId"
      v-model="content"
      api-key="g40b55rbhfayrvnwm3t1a6m3f03oilaghndzh561pezsmqhf"
      :init="settings"></editor>
  </div>
</template>
<script>
import Editor from '@tinymce/tinymce-vue'
import { createNamespacedHelpers } from 'vuex'

const { mapState, mapMutations } = createNamespacedHelpers('ContentControl')

export default {
  props: ['editorId', 'fieldName', 'edit'],
  data() {
    return {
      type: false,
      content: '',
      settings: {
        selector: 'textarea',
        imagetools_cors_hosts: ['localhost', 'admin.nst.rip'],
        plugins: 'autoresize print preview fullpage searchreplace autolink directionality advcode visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern help',
        toolbar: 'formatselect | bold italic strikethrough forecolor backcolor | link image media | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent | removeformat | addcomment',
        max_height: 700,
        setup: (editor) => {
          editor.on('init', (e) => {
            if (this.type) {
              let initInterval
              initInterval = setInterval(() => {
                // This is bullshit...
                if (this.fields[this.fieldName].value) {
                  editor.setContent(this.fields[this.fieldName].value)
                  clearInterval(initInterval)
                }
              }, 10)
            }
          })
        },
        images_upload_handler: (blobInfo, success, error) => {
          let formData = new FormData()
          formData.append('file', blobInfo.blob())
          this.axios.post(`${this.$store.state.apiUrls.uploadFileEditor}`, formData)
            .then(res => {
              success(`${this.$store.state.apiUrls.api}/${res.data.location}`)
            })
        },
        mobile: {
          height: 500
        }
      }
    }
  },
  mounted() {
    // this.ckInit()
  },
  methods: {
    ...mapMutations([
      'setField'
    ])
  },
  watch: {
    content() {
      let convertedContent = this.content
      if (this.content.length && this.content.includes('<body>')) {
        convertedContent = this.content.split('<body>')[1].split('</body>')[0]
      }
      this.setField({name: this.fieldName, value: convertedContent})
      this.$emit('input', convertedContent)
    }
  },
  created() {
    if (this.edit) {
      this.type = this.edit
    }
  },
  computed: {
    ...mapState([
      'fields',
      'fieldsEditReady'
    ])
  },
  components: {
    Editor
  }
}
</script>

<style lang="scss">
.ckeditor-textarea .ck-editor__editable_inline {
  min-height: 300px !important;
}
</style>
