<template>
  <div class="file-upload">
    <label v-if="getNestedUploadState(keyField) === 0" :for="`${fieldName}`" class="file-content no-file">
      <icon-folder class="no-file-icon"/>
    </label>
    <div v-if="getNestedUploadState(keyField) === 1" class="loader">
      <img class="loader-image" src="@/assets/img/dorinku.gif" alt="A fucking bottle">
    </div>
    <label v-if="getNestedUploadState(keyField) === 2" :for="`${fieldName}`" class="file-content file-uploaded">
      <img class="file-uploaded-image" :src="`${$store.state.apiUrls.api}/${newNestedItem[keyField]}`">
    </label>
    <input @change="onFileSelect($event)" class="file-upload-input" type="file" :id="`${fieldName}`">
  </div>
</template>
<script>
import IconFolder from '@/components/icons/IconFolder'
import { createNamespacedHelpers } from 'vuex'

const { mapState, mapMutations, mapGetters } = createNamespacedHelpers('ContentControl')

export default {
  props: ['fieldName', 'parentFieldName', 'keyField', 'arrayIndex'],
  data() {
    return {
      uploadState: 0,
      fileChoosed: null,
      wrongFormatError: false
    }
  },
  methods: {
    onFileSelect(event) {
      this.fileChoosed = event.target.files[0]
      if (!this.fileChoosed) {
        return true
      }
      if (this.isImage(this.fileChoosed.type)) {
        let data = new FormData()
        data.append('file', this.fileChoosed)
        data.append('folder', 'news_images')
        this.setNewNestedItem({type: 'stateUpdate', data: 1, key: this.keyField })
        this.axios.post(`${this.$store.state.apiUrls.uploadFile}`, data)
          .then(res => {
            this.setNewNestedItem({type: 'assign', key: this.keyField, data: res.data.url, uploadState: 2})
          }).catch(err => {
            console.log(err)
          })
      } else {
        this.wrongFormatError = true
        this.$store.dispatch('ContentControl/launchNotification', {message: 'Неверный формат изображения. Принимаются только jpg, jpeg, png и gif.'})
      }
    },
    isImage(type) {
      if (type === 'image/png' ||
        type === 'image/gif' ||
        type === 'image/jpeg') {
          return true
        } else {
          return false
        }
    },
    ...mapMutations([
      'setField',
      'setNewNestedItem'
    ])
  },
  computed: {
    ...mapState([
      'fields',
      'newNestedItem'
    ]),
    ...mapGetters([
      'getNestedUploadState'
    ])
  },
  components: {
    IconFolder
  }
}
</script>