<template>
  <div class="file-upload" :class="{'format-error': wrongFormatError, 'empty-error': fields[fieldName].error}">
    <label v-if="fields[fieldName].uploadState === 0" :for="fieldName" class="file-content no-file">
      <icon-folder class="no-file-icon"/>
    </label>
    <div v-if="fields[fieldName].uploadState === 1" class="loader">
      <img class="loader-image" src="@/assets/img/dorinku.gif" alt="A fucking bottle">
    </div>
    <label v-if="fields[fieldName].uploadState === 2" :for="fieldName" class="file-content file-uploaded">
      <img v-if="fields[fieldName].value.includes('img.youtube.com')" class="file-uploaded-image" :src="fields[fieldName].value">
      <img v-else class="file-uploaded-image" :src="`${$store.state.apiUrls.api}/${fields[fieldName].value}`">
    </label>
    <input @change="onFileSelect($event)" class="file-upload-input" type="file" :id="fieldName">
  </div>
</template>
<script>
import IconFolder from '@/components/icons/IconFolder'
import { createNamespacedHelpers } from 'vuex'

const { mapState, mapMutations } = createNamespacedHelpers('ContentControl')

export default {
  props: ['fieldName', 'page'],
  data() {
    return {
      fileChoosed: null,
      wrongFormatError: false
    }
  },
  methods: {
    onFileSelect(event) {
      this.fileChoosed = event.target.files[0]
      if (this.isImage(this.fileChoosed.type)) {
        let data = new FormData()
        data.append('file', this.fileChoosed)
        data.append('folder', 'news_images')
        this.fields[this.fieldName].uploadState = 1
        this.axios.post(`${this.$store.state.apiUrls.uploadFile}`, data)
          .then(res => {
            this.$emit('setUrl', res.data.url)
            this.setField({name: this.fieldName, value: res.data.url})
            this.fields[this.fieldName].uploadState = 2
          }).catch(err => {
            console.log(err)
          })
      } else {
        this.wrongFormatError = true
        this.$store.dispatch('ContentControl/launchNotification', {message: 'Неверный формат изображения. Принимаются только jpg, jpeg, png и gif.'})
      }
    },
    isImage(type) {
      if (type === 'image/png' ||
        type === 'image/gif' ||
        type === 'image/jpeg') {
          return true
        } else {
          return false
        }
    },
    ...mapMutations([
      'setField'
    ])
  },
  computed: {
    ...mapState([
      'fields'
    ])
  },
  components: {
    IconFolder
  }
}
</script>