<template>
  <div class="nested-min">
    <div v-if="fields[fieldName].value.length" class="nested-min-container">
      <div v-for="(nestedItem, index) in fields[fieldName].value" :key="nestedItem._id || index" class="nested-min-item">
        <slot v-bind:nestedItemSlot="nestedItem"></slot>
        <div class="nested-min-controls">
          <div v-if="isInEdit(index)" @click="cancelItem(index)" class="nested-control-item">
            <icon-cancel class="nested-control-item-icon"/>
          </div>
          <div @click="editItem(nestedItem, index)"
            :class="{'editing': isInEdit(index)}" class="nested-control-item">
            <icon-edit-nested class="nested-control-item-icon"/>
          </div>
          <div @click="removeItem(index)"
            :class="{'editing': isInEdit(index)}" class="nested-control-item">
            <icon-trash-nested class="nested-control-item-icon"/>
          </div>
        </div>
      </div>
    </div>
    <div v-if="!fields[fieldName].value.length" class="nested-min-smallsign">
      <p class="nested-min-smallsign-text">Нет записей</p>
    </div>
    <div class="nested-new-container">
      <div @click="openNestedCreate" class="nested-min-sign">
        <p class="nested-min-sign-text">Добавить</p>
      </div>
      <transition name="simple">
        <div v-show="fields[fieldName].creating" class="nested-min-create">
          <div v-for="(nestedItemField, keyName) in fields[fieldName].children"
            :key="`${keyName}-${fields[fieldName].value.length}`"
            class="nested-new-container-item">
            <div v-if="nestedItemField.type === 'string'" class="fields-field input">
              <label class="fields-field-label">{{ nestedItemField.title }}</label>
              <input
                @input="editInput($event, keyName)" v-model="newNestedItem[keyName]" type="text"
                class="fields-field-input">
            </div>
            <div v-if="nestedItemField.type === 'file'" class="fields-field file half-width">
              <label class="fields-field-label">{{ nestedItemField.title }}</label>
              <file-upload-nested
                :parentFieldName="fieldName"
                :arrayIndex="fields[fieldName].value.length"
                :keyField="keyName"
                :fieldName="`${keyName}-${fields[fieldName].value.length}`"/>
            </div>
          </div>
        </div>
      </transition>
    </div>
    <transition name="simple">
      <div v-show="fields[fieldName].creating" @click="addItem" class="nested-min-add">
        <icon-add-document class="nested-min-add-icon"/>
      </div>
    </transition>
  </div>
</template>

<script>
import FileUploadNested from '@/components/FileUploadNested'
import IconTrashNested from '@/components/icons/IconTrashNested'
import IconCancel from '@/components/icons/IconCancel'
import IconAddDocument from '@/components/icons/IconAddDocument'
import IconEditNested from '@/components/icons/IconEditNested'
import { createNamespacedHelpers } from 'vuex'

const { mapState, mapMutations, mapActions } = createNamespacedHelpers('ContentControl')

export default {
  props: ['fieldName', 'nestedDataItem'],
  computed: {
    ...mapState([
      'fields',
      'newNestedItem',
      'nestedEditingNow'
    ])
  },
  methods: {
    ...mapMutations([
      'setNewNestedItem',
      'setNestedNewCreating',
      'setNestedEditingNow'
    ]),
    ...mapActions([
      'setNestedFieldItem'
    ]),
    addItem() {
      if (!this.nestedEditingNow.editing) {
        this.setNestedFieldItem({data: {
          parentField: this.fieldName,
          data: this.newNestedItem
        }})
      } else {
        this.setNestedFieldItem({data: {
          edit: { index: this.nestedEditingNow.index },
          parentField: this.fieldName,
          data: this.newNestedItem
        }})
      }
    },
    editItem(nestedItem, index) {
      this.setNewNestedItem({ type: 'remove' }) // обнулить форму редактирования/создания вложенного документа
      this.setNestedNewCreating({ fieldName: this.fieldName, value: true }) // открыть форму
      this.setNestedEditingNow({ type: 'set', parentField: this.fieldName, index, editing: true })
      for (let nestedItemKey in nestedItem) {
        if (nestedItemKey !== '_id') {
          this.fields[this.fieldName].children[nestedItemKey].type === 'file'
            ? this.setNewNestedItem({ type: 'assign', key: nestedItemKey, data: nestedItem[nestedItemKey], uploadState: 2 })
            : this.setNewNestedItem({ type: 'assign', key: nestedItemKey, data: nestedItem[nestedItemKey] })
        }
      }
    },
    isInEdit(index) {
      if (this.nestedEditingNow.parentField === this.fieldName
        && this.nestedEditingNow.index === index
        && this.nestedEditingNow.editing) {
          return true
        } else {
          return false
        }
    },
    cancelItem(index) {
      this.setNestedEditingNow({ type: 'remove' })
      this.setNewNestedItem({ type: 'remove' })
      this.setNestedNewCreating({ fieldName: this.fieldName, value: false })
    },
    removeItem(index) {
      this.setNestedFieldItem({data: {
        remove: {index},
        parentField: this.fieldName
      }})
    },
    editInput(e, keyName) {
      this.setNewNestedItem({type: 'assign', key: keyName, data: e.target.value})
    },
    openNestedCreate() {
      this.setNestedNewCreating({ fieldName: this.fieldName, value: !this.fields[this.fieldName].creating })
    }
  },
  components: {
    IconAddDocument,
    IconEditNested,
    IconCancel,
    FileUploadNested,
    IconTrashNested
  }
}
</script>

<style lang="scss" scoped>
.nested-min {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  &-add, &-edit, &-cancel {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 10px;
    transition: transform .3s;

    &:hover {
      transform: rotate(-10deg);
    }

    &-icon {
      width: 100%;
      height: 100%;
      fill: #fff;
    }
  }
}

.nested-min {
  &-edit, &-cancel {
    width: 25px;
  }

  &-cancel {
    width: 23px;
  }
}

.nested-min {
  &-smallsign {
    width: 100%;
    margin: 10px 10px 20px;

    &-text {
      color: #eee;
      font-family: Nes, sans-serif;
      text-transform: uppercase;
      font-size: 15px;
    }
  }

  &-sign {
    padding: 15px 15px ;
    cursor: pointer;

    &:hover {
      .nested-min-sign-text {
        transform: rotate(-5deg);
      }
    }

    &-text {
      color: #fac455;
      font-family: Nes, sans-serif;
      text-transform: uppercase;
      font-size: 22px;
      display: inline-block;
      transition: transform .3s;
      user-select: none;
    }
  }

  &-container {
    width: 100%;
    padding: 15px;
  }
}

.nested-new-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border-top: 1px solid #eee;
}

.nested-container {
  width: calc(100% - 50px);
}

.nested-min-item {
  display: flex;
  align-items: flex-start;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.nested-min-controls {
  display: flex;
}

.nested-control-item {
  &:not(:first-child) {
    margin-left: 10px;
  }

  cursor: pointer;

  &:hover {
    .nested-control-item-icon {
      transform: rotate(-10deg);
    }
  }

  &.editing {
    pointer-events: none;

    .nested-control-item-icon {
      fill: #aaa;
    }
  }

  &-icon {
    transition: transform .3s;
    width: 25px;
    height: 25px;
    fill: #fff;
  }
}

.nested-min {
  &-create {
    width: 100%;
  }
}
</style>