<template>
  <div :class="{'visible': notification.visible }" class="notification">
    <div :class="{'animation': notification.isAnimPlaying }" class="notification-image"></div>
    <div class="notification-sign">
      <p class="notification-sign-sign">{{ notification.message }}</p>
      <div v-if="notification.forDelete" class="notification-delete">
        <span @click="deleteApprove()" class="notification-delete-answer arrow-link big">Да</span>
        <span @click="setNotificationParam({name: 'visible', value: false})" class="notification-delete-answer arrow-link big">Нет</span>
      </div>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
const { mapState, mapMutations, mapActions } = createNamespacedHelpers('ContentControl')

export default {
  created() {
    this.$store.commit('Sounds/addSounds', {
      beepShort: '/sounds/BeepShort.wav'
    })
  },
  methods: {
    ...mapActions([
      'deleteApprove'
    ]),
    ...mapMutations([
      'setNotificationParam'
    ])
  },
  computed: {
    ...mapState([
      'notification'
    ])
  }
}
</script>

<style lang="scss" scoped>
  .notification {
    position: fixed;
    bottom: 15px;
    left: 15px;
    border: 2px solid #79aeff;
    border-radius: 10px;
    background-color: rgba(#183c5c, .6);
    height: 170px;
    width: 400px;
    max-width: 100%;
    padding: 15px;
    display: flex;
    transform: translateY(500px);
    transition: .5s;
    z-index: 4;

    @media screen and (max-width: 500px) {
      width: calc(100% - 30px);

      &-image {
        width: 87px !important;
        background-size: cover !important;
        background-position: center;
      }
    }

    &.visible {
      transform: translateY(0);
    }

    &-image {
      height: 100%;
      width: 30%;
      transition: none !important;
      background-repeat: no-repeat;
      background-size: contain;
      transform: rotateY(180deg);
      background-image: url('~@/assets/img/todo/todo_smiling-big.png');

      &.animation {
        animation: 1000s todo;
      }
    }

    &-sign {
      width: 70%;
      text-align: left;
      text-transform: uppercase;

      @media screen and (max-width: 500px) {
        width: calc(100% - 120px);
      }

      &-sign {
        color: #fff;
        font-family: Nes, sans-serif;
        font-size: 30px;

        @media screen and (max-width: 500px) {
          font-size: 24px;
        }
      }
    }
  }

  .notification-delete {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;

    &-answer {
      cursor: pointer;
      font-size: 36px;
      color: #fff;
      font-family: Nes, sans-serif;

      &.arrow-link.big::before {
        top: 56%;
      }
    }
  }

  @keyframes todo {
    // 0% {
    //   background-image: url('~@/assets/img/todo/todo_smiling-big.png')
    // }
    // 29.9% {
    //   background-image: url('~@/assets/img/todo/todo_smiling-big.png');
    // }
    // 30% {
    //   background-image: url('~@/assets/img/todo/todo_smiling-once.gif');
    // }
    // 39.9% {
    //   background-image: url('~@/assets/img/todo/todo_smiling-once.gif');
    // }
    0% {
      background-image: url('~@/assets/img/todo/todo_talking-big.gif');
    }
    100% {
      background-image: url('~@/assets/img/todo/todo_talking-big.gif');
    }
  }
</style>
