<template>
    <div v-show="getPagesCount > 1" class="pagination">
        <span v-if="currentPage !== 1" class="pag-link arrow prev" @click="`${go(currentPage - 1)}`"></span>
        <span v-if="currentPage > 3" class="pag-link num" @click="`${go(1)}`">1</span>
            <span v-if="currentPage > 3" class="pag-link dots">...</span>
        <span v-if="currentPage > 2" class="pag-link num" @click="`${go(currentPage - 2)}`">{{ currentPage - 2 }}</span>
        <span v-if="currentPage !== 1" class="pag-link num" @click="`${go(currentPage - 1)}`">{{ currentPage - 1 }}</span>
            <span class="pag-link num active" :to="'/'">{{ currentPage }}</span>
        <span v-if="currentPage < getPagesCount" class="pag-link num" @click="`${go(currentPage + 1)}`">{{ currentPage + 1 }}</span>
        <span v-if="currentPage < getPagesCount - 2" class="pag-link num" @click="`${go(currentPage + 2)}`">{{ currentPage + 2 }}</span>
            <span v-if="currentPage < getPagesCount - 3" class="pag-link dots">...</span>
        <span v-if="currentPage < getPagesCount - 1" class="pag-link num" @click="`${go(getPagesCount)}`">{{ getPagesCount }}</span>
        <span v-if="currentPage < getPagesCount" class="pag-link arrow next" @click="`${go(currentPage + 1)}`"></span>
    </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
const { mapState, mapMutations, mapGetters, mapActions } = createNamespacedHelpers('ContentControl')

export default {
    computed: {
        ...mapState([
            'currentPage',
            'pageItemLimit',
            'requestUrl'
        ]),
        ...mapGetters([
            'getPagesCount'
        ])
    },
    methods: {
        go(pageN) {
            this.$router.push({ query: { page: pageN }})
            this.setCurrentPage(pageN)
            this.getContent({url: this.requestUrl.get})
            this.$scrollTo('body')
        },
        ...mapMutations([
            'setCurrentPage'
        ]),
        ...mapActions([
            'getContent'
        ])
    },
    created() {
        if (this.$route.query.hasOwnProperty('page')) {
            this.setCurrentPage(Number(this.$route.query.page))
        } else {
            this.setCurrentPage(1)
        }
    }
}
</script>


<style lang="scss" scoped>
    .pagination {
        margin: 30px 0;
        font-family: Nes, sans-serif;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 40px;
        color: #fff;
        margin: 20px 0 -7.5px;

        @media screen and (max-width: 380px) {
            width: 200px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .pag-link {
        position: relative;
        color: #fff;

        &.active {
            @media screen and (max-width: 380px) {
                width: 100%;
            }

            &::before {
                content: '';
                bottom: -5px;
                left: -2px;
                position: absolute;
                background-color: #fff;
                height: 4px;
                width: 100%;

                @media screen and (max-width: 380px) {
                    left: calc(50% - 1px);
                    transform: translateX(-50%);
                    width: 30px;
                }
            }
        }

        &:not(.active) {
            &::after {
                content: '';
                position: absolute;
                left: 45%;
                top: -10px;
                transform: translate(-50%, -50%) rotate(360deg);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 15px 10px 0 10px;
                border-color: #fff transparent transparent transparent;
                opacity: 0;
            }
        }

        &:not(.active):not(.dots) {
            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }
    }

    .pag-link {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-content: center;
        line-height: 25px;
        margin: 7.5px 0;
        cursor: pointer;

        &.arrow {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) rotate(360deg);
                width: 0;
                height: 0;
                border-style: solid;
            }

            &.prev {
                &::before {
                    border-width: 10px 15px 10px 0;
                    border-color: transparent #fff transparent transparent;
                }
            }

            &.next {
                &::before {
                    border-width: 10px 0 10px 15px;
                    border-color: transparent transparent transparent #fff;
                }
            }
        }
    }
</style>
