<template>
  <div class="sidebar">
    <div class="burger">
        <button @click="toggleMobileMenu()" :class="{'is-active': menuMobileOpen}" class="hamburger hamburger--spin" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
    <router-link to="/" class="logo burger-logo">
      <img class="logo-img" src="@/assets/img/logo_white.png" alt="NST Logo">
    </router-link>
    <div @click.self="toggleMobileMenu(false)" :class="{'is-active': menuMobileOpen}" class="sidebar-wrap">
      <div class="sidebar-container">
        <router-link to="/" class="logo">
          <img class="logo-img" src="@/assets/img/logo_white.png" alt="NST Logo">
        </router-link>
        <h3 class="profile-name-wrap">
          <p class="profile-name">{{ $store.state.profile.nickname }}</p>
          <!-- <span class="profile-name">ffffffffffffffasdfasdfsadfadsfsadfsadfsadfasdfsadfsadf</span> -->
        </h3>
        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <router-link class="sidebar-link arrow-link big to-left" to="/news">Новости</router-link>
          </li>
          <li class="sidebar-list-item">
            <router-link class="sidebar-link arrow-link big to-left" to="/videos">Видео</router-link>
          </li>
          <li class="sidebar-list-item">
            <router-link class="sidebar-link arrow-link big to-left" to="/hall_of_fame">Зал славы</router-link>
          </li>
        </ul>
        <div class="logout">
          <div class="logout-image">
            <img class="logout-image-gif" src="@/assets/img/motiduki1.gif">
          </div>
          <button @click="logout()" class="logout-button arrow-link big to-left">Выход</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
        return {
            menuMobileOpen: false
        }
    },
  methods: {
    toggleMobileMenu(flag) {
            if (typeof flag === 'undefined') {
                this.menuMobileOpen = !this.menuMobileOpen
            } else if (flag === false) {
                this.menuMobileOpen = false
            } else if (flag === true) {
                this.menuMobileOpen = true
            }
        },
    logout() {
      localStorage.removeItem(this.$store.state.tokenKeyName)
      this.$router.push({ name: 'login' })
    }
  },
  watch: {
    '$route' (to, from) {
      this.toggleMobileMenu(false)
    }
  }
}
</script>


<style lang="scss" scoped>
  @import '~@/assets/plugins/hamburgers.css';

  .sidebar {
    text-align: left;
    width: 200px;

    &-list {
      text-align: left;
      font-family: Nes, sans-serif;
      font-size: 25px;
      margin-top: 25px;
    }

    &-link {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      padding: 5px 0;
      display: inline-block;

      &.arrow-link {
        &::before {
          top: 57%;
        }
      }
    }
  }

  .profile-name {
    &-wrap {
      font-family: Roboto, sans-serif;
      color: rgb(253, 199, 51);
      overflow: hidden;
      width: 200px;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-top: 20px;
      position: relative;

      @media screen and (max-width: 768px) {
        margin-top: 70px;
      }
    }

    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: #fff;
      position: absolute;
      bottom: -5px;
      left: 0;
    }
  }

  .sidebar-wrap {
    padding: 20px 20px 20px;

    @media screen and (max-width: 768px) {
      z-index: 2;
      transition: .2s;
      transform: translateX(-100%);
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(#183c5c, .8);
      display: flex;
      justify-content: flex-start;

      .sidebar-list {
        margin-top: 20px;
      }

      .logo {
        display: none;
      }
    }

    &.is-active {
      @media screen and (max-width: 768px) {
        transform: translateX(0);
      }
    }
  }

  .logo {
    width: 100px;
    height: 100px;
    display: inline-block;

    &.burger-logo {
      margin-left: 90px;
      margin-top: 10px;
      width: 70px;
      height: 70px;
      display: none;

      @media screen and (max-width: 768px) {
        display: block;
      }
    }

    .logo-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .logout {
    position: relative;
    margin-top: 35px;
    display: inline-block;

    &-image {
      position: absolute;
      top: -25px;
      right: 0;
      pointer-events: none;
      // transform: rotateY(180deg);
    }

    &-button {
      cursor: pointer;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      background-color: transparent;
      border: none;
      font-family: Nes, sans-serif;
      font-size: 25px;

      &.arrow-link {
        &::before {
          top: 58%;
        }
      }
    }
  }
</style>
