<template>
  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
<g>
	<g id="trash">
		<path d="M29.98,6.818c-0.096-1.57-1.387-2.816-2.98-2.816h-3v-1V3c0-1.657-1.344-3-3-3H11
			C9.343,0,8,1.343,8,3v0.001v1H5c-1.595,0-2.885,1.246-2.981,2.816H2V8v1c0,1.104,0.896,2,2,2l0,0v17c0,2.209,1.791,4,4,4h16
			c2.209,0,4-1.791,4-4V11l0,0c1.104,0,2-0.896,2-2V8V6.818H29.98z M10,3.001c0-0.553,0.447-1,1-1h10c0.553,0,1,0.447,1,1v1H10
			V3.001z M26,28.001c0,1.102-0.898,2-2,2H8c-1.103,0-2-0.898-2-2v-17h20V28.001z M28,8v1H4V8V7.001c0-0.553,0.447-1,1-1h22
			c0.553,0,1,0.447,1,1V8z"/>
		<path d="M9,28.005h2c0.553,0,1-0.447,1-1v-13c0-0.553-0.447-1-1-1H9c-0.553,0-1,0.447-1,1v13
			C8,27.558,8.447,28.005,9,28.005z M9,14.004h2v13H9V14.004z"/>
		<path d="M15,28.005h2c0.553,0,1-0.447,1-1v-13c0-0.553-0.447-1-1-1h-2c-0.553,0-1,0.447-1,1v13
			C14,27.558,14.447,28.005,15,28.005z M15,14.004h2v13h-2V14.004z"/>
		<path d="M21,28.005h2c0.553,0,1-0.447,1-1v-13c0-0.553-0.447-1-1-1h-2c-0.553,0-1,0.447-1,1v13
			C20,27.558,20.447,28.005,21,28.005z M21,14.004h2v13h-2V14.004z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
</template>
