<template>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
  <g>
    <g>
      <path d="M64.5,122.6c32,0,58.1-26,58.1-58.1S96.5,6.4,64.5,6.4S6.4,32.5,6.4,64.5S32.5,122.6,64.5,122.6z M64.5,14.6    c27.5,0,49.9,22.4,49.9,49.9S92,114.4,64.5,114.4S14.6,92,14.6,64.5S37,14.6,64.5,14.6z"/>
      <path d="m42.7,85.7c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2l16-16 16,16c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-16-16 16-16c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-16,16-16-16c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l16,16-16,16c-1.6,1.6-1.6,4.2-1.42109e-14,5.8z"/>
    </g>
  </g>
</svg>

</template>