<template>
  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
<path d="M57.49,21.5H55v-9H26.515l-5-7H2.732C1.226,5.5,0,6.726,0,8.232v43.687l0.006,0c-0.005,0.563,0.17,1.114,0.522,1.575
	C1.018,54.134,1.76,54.5,2.565,54.5h44.759c1.156,0,2.174-0.779,2.45-1.813L60,24.649v-0.177C60,22.75,58.944,21.5,57.49,21.5z
	 M53,14.5v7h-8v-3c0-0.553-0.448-1-1-1s-1,0.447-1,1v3h-5v-3c0-0.553-0.448-1-1-1s-1,0.447-1,1v3h-5v-3c0-0.553-0.448-1-1-1
	s-1,0.447-1,1v3h-5v-3c0-0.553-0.448-1-1-1s-1,0.447-1,1v3h-5v-3c0-0.553-0.448-1-1-1s-1,0.447-1,1v3h-2.269
	c-0.143,0-0.284,0.012-0.422,0.035c-0.974,0.162-1.786,0.872-2.028,1.778l-0.317,0.87L5,37.793V20.5h6v-6h16.943H53z M6.414,18.5
	L9,15.914V18.5H6.414z M2,8.232C2,7.828,2.329,7.5,2.732,7.5h17.753l3.571,5H9.586L3,19.086v24.085l-1,2.728V8.232z M47.869,52.083
	c-0.066,0.245-0.291,0.417-0.545,0.417H2.565c-0.243,0-0.385-0.139-0.448-0.222c-0.063-0.082-0.16-0.256-0.123-0.408L3,49.112v0.001
	l9.16-25.114l0.026-0.082c0.066-0.245,0.291-0.417,0.545-0.417H55h2.49c0.38,0,0.477,0.546,0.502,0.819L47.869,52.083z"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
</template>
