<template>
  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 174.239 174.239" style="enable-background:new 0 0 174.239 174.239;" xml:space="preserve">
<g>
	<polygon points="14.935,26.219 131.662,26.219 131.662,75.18 146.596,75.18 146.596,11.284 0,11.284 0,139.075 73.298,139.075 
		73.298,124.141 14.935,124.141 	"/>
	<polygon points="174.239,120.378 146.596,120.378 146.596,92.735 131.662,92.735 131.662,120.378 104.019,120.378 104.019,135.313 
		131.662,135.313 131.662,162.956 146.596,162.956 146.596,135.313 174.239,135.313 	"/>
	<rect x="35.679" y="48.903" width="63.536" height="14.935"/>
	<rect x="35.679" y="78.996" width="48.485" height="14.935"/>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
</template>