<template>
  <div id="app">
    <div class="app-container">
      <sidebar v-if="notInLoginScreen"/>
      <router-view/>
    </div>
    <bgimage/>
    <notification/>
  </div>
</template>

<script>
import bgimage from '@/components/BGImage'
import Notification from '@/components/Notification'
import Sidebar from '@/components/Sidebar'

export default {
  name: 'app',
  created() {
    this.axios.get(`${this.$store.state.apiUrls.userCurrent}`).
      then(res => {
        this.$store.commit('setProfile', res.data)
      })
    if (!localStorage.getItem(this.$store.state.tokenKeyName)
      && this.$route.name !== 'registration'
      && this.$route.name !== 'login') {
      this.$router.push({ name: 'login' })
    }
  },
  computed: {
    notInLoginScreen() {
      if (this.$route.name === 'login' || this.$route.name === 'registration') {
        return false
      } else {
        return true
      }
    }
  },
  components: {
    Sidebar,
    Notification,
    bgimage
  }
}
</script>

<style lang="scss">
@font-face {
  font-family: 'Nes';
  src: url('/fonts/NesCyrillic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

*, ul, ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(24, 60, 92);
}

body, button {
  text-shadow: 2px 2px 2px #000;
}

svg {
  filter: drop-shadow( 3px 3px 2px rgba(#000, 1));
}

.app-container {
  display: flex;
  position: relative;
  z-index: 4;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.arrow-link {
  position: relative;

  &:hover::before {
    opacity: 1;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-19px, -50%) rotate(360deg);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #fff;
    opacity: 0;
  }

  &.big {
    &::before {
      transform: translate(-21px, -50%) rotate(360deg);
      border-width: 7px 0 7px 10px;
    }

    &.to-left {
      &::before {
        left: initial;
        right: 0;
        transform: translate(21px, -50%);
        border-color: transparent #fff transparent transparent;
        border-width: 7px 10px 7px 0;
      }
    }
  }

  &.to-left {
    &::before {
      left: initial;
      right: 0;
      transform: translate(19px, -50%);
      border-color: transparent #fff transparent transparent;
    }
  }
}

.burger {
  z-index: 3;
  top: 19px;
  left: 10px;
  position: absolute;
  cursor: pointer;
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
  }

  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
    background-color: #fff !important;
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #fff !important;
  }

  .hamburger:hover, .hamburger.is-active:hover {
    opacity: 1 !important;
  }

  .hamburger {
    outline: none !important;
  }
}

.content-head {
  text-align: left;
  margin-bottom: 40px;

  &-title {
    font-size: 38px;
    font-family: Nes, sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }
}

.content-create {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 40px;
  }

  .content-create .fields {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    &-field {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin: 15px;
      width: calc(33.33% - 30px);
      text-align: left;

      @media screen and (max-width: 1024px) {
        width: calc(50% - 30px);
      }

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      &.with-image {
        width: calc(25% - 30px);

        @media screen and (max-width: 1200px) {
          width: calc(33% - 30px);
        }

        @media screen and (max-width: 850px) {
          width: calc(100% - 30px);
        }
      }

      &-label {
        font-family: Nes, sans-serif;
        font-size: 24px;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 5px;
      }

      &-input {
        background-color: transparent;
        border: 1px solid rgb(121, 174, 255);
        height: 35px;
        font-size: 16px;
        color: #fff;
        padding: 5px 10px;
        transition: .2s;

        &:hover {
          border-color: #fff;
        }
      }

      &.textarea {
        width: 100%;
        .fields-field-input {
          height: 100px;
        }

        &.editor {
          .fields-field-input {
            min-height: 300px;
          }
        }
      }
      
      &.file {
        width: calc(25% - 30px);

        @media screen and (max-width: 1200px) {
          width: 100%;
        }
      }

      &.full-width {
        width: 100%;
      }

      &.half-width {
        width: calc(50% - 30px);

        @media screen and (max-width: 860px) {
          width: 100%;
        }
      }
    }
  }

  .content-create .fields-field {
    &.array {
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
      border-radius: 5px;
      padding: 15px 15px 5px;
    }
  }

  .fields-field {
    &.input, &.textarea {
      &.error {
        .fields-field-input {
          border-color: #f00;
        }
      }
    }

    &.file {
      &.error {
        /deep/ .no-file-icon {
          fill: #f00
        }
      }
    }
  }

  .nested-min-item {
    &-img {
      max-width: 60px;
      max-height: 60px;
      object-fit: contain;
      margin-right: 15px;
    }

    &-title {
      font-size: 17px;
      color: rgb(214, 255, 214);
    }
  }

  .fields-select {
    &.error {
      .dropdown-selected {
        border-color: #f00;
        color: rgb(255, 236, 236);
      }
    }
  }

  .submit {
    width: 100%;
    margin-top: 10px;

    &-button {
      border: 2px solid #fff;
      background-color: transparent;
      color: #fff;
      padding: 10px 15px 13px;
      font-size: 25px;
      font-family: Nes, sans-serif;
      text-transform: uppercase;
      cursor: pointer;
      transition: .2s;

      &:hover {
        border-color: #79aeff;
        color: #79aeff;
      }
    }
  }

  .file-content {
    cursor: pointer;
    display: inline-block;
    transition: .2s;

    &:hover {
      transform: scale(1.04);
      
      .no-file-icon {
        fill: #9ed4ff !important;
      }
    }

    &.no-file {
      .no-file-icon {
        transition: .2s;
        fill: #fff;
        width: 50px;
        height: 50px;
      }
    }
  }

.file-upload {
  &-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &.empty-error {
    .no-file-icon {
      fill: #f00;
    }
  }

  &.format-error {
    .no-file-icon {
      fill: #fff;
    }
    .file-content.file-uploaded {
      border-color: #f00;
    }
  }
}

.loader {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  &-image {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
}

.file-content {
  &.file-uploaded {
    display: block;
    width: 50px;
    max-width: 100%;
    height: 50px;
    border: 2px solid #79aeff;
    overflow: hidden;

    @media screen and (max-width: 500px) {
      width: 100%;
    }

    .file-uploaded-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

  .btn-square {
    margin-top: 35px;
    position: relative;
    display: inline-block;

    &-button {
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff;
      font-family: Nes, sans-serif;
      text-transform: uppercase;
      font-size: 25px;
      cursor: pointer;
      padding: 10px 15px 15px;
      transition: .2s;
      display: inline-block;

      &:hover {
        border-color: #9ed4ff;
        color: #9ed4ff;
      }
    }

    &-gif {
      position: absolute;
      right: 40%;
      top: -17px;
    }
  }

  .content-index {
    margin: 40px 0;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;

    @media screen and (max-width: 470px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .content {
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &-wrap {
        width: 170px;
        max-height: 316px;
      }
    }

    &-info {
      width: calc(100% - 350px);
      padding-left: 20px;

      @media screen and (max-width: 680px) {
        padding-left: 0;
        width: 100%;
      }
    }

    &-list {
      &-item {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        margin: 20px 0;
        color: #fff;
        text-align: left;
        position: relative;

        @media screen and (max-width: 680px) {
          flex-direction: column;
          align-items: center;
        }

        &:hover {
          .content-ctrl {
            opacity: 1;
          }
        }

        &:not(:last-child) {
          padding-bottom: 20px;

          &::after {
            content: '';
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #fff;
            position: absolute;
          }
        }
      }
    }
  }

  .content {
    &-title {
      color: #9ed4ff;
      font-size: 25px;
      letter-spacing: 1.2px;

      @media screen and (max-width: 680px) {
        margin-top: 10px;
      }
    }
    &-date {
      margin-top: 10px;
      font-family: Nes, sans-serif;
      font-size: 25px;

      &-item {

        @media screen and (max-width: 680px) {
          width: 100%;
          display: block;
        }

        &:not(:last-child) {
          margin-right: 30px;

          @media screen and (max-width: 680px) {
            margin-bottom: 5px;
          }
        }
      }

      &-label {
        margin-right: 5px;
        text-transform: uppercase;
        color: #d1b8fe;
      }
    }
    &-subtext {
      margin-top: 15px;
      line-height: 24px;
      font-family: Roboto, sans-serif;
      letter-spacing: .5px;
    }
  }

  .content {
    &-ctrl {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      display: flex;
      transition: .2s;
      opacity: 0;

      @media screen and (max-width: 1024px) {
        opacity: 1;
      }

      @media screen and (max-width: 680px) {
        width: 100%;
        margin-top: 15px;
        position: initial;
      }

      &-icon {
        &:not(:last-child) {
          margin-right: 20px;
        }

        &:hover {
          transform: scale(1.1);

          .content-ctrl-svg {
            fill: #9ed4ff;
          }
        }
      }

      &-svg {
        fill: #fff;
        width: 40px;
        height: 40px;
      }
    }
  }

  .btn-square {

    &:not(:first-of-type) {
      margin-left: 20px;
    }

    @media screen and (max-width: 640px) {
      margin-left: 0;
      margin-top: 15px !important;
      display: block !important;
    }
  }

  .content-trophies {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 10px -10px 0;

    &-img {
      margin: 10px;
      max-width: 30px;
      object-fit: contain;
    }
  }

  .simple-enter-active {
    transition: all .3s ease;
  }
  .simple-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .simple-enter, .simple-leave-to
  /* .slide-fade-leave-active до версии 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }

  .content-table {
    width: 100%;
    min-width: 800px;
    border-collapse: collapse;
    color: #fff;

    &-wrap {
      width: 100%;
      overflow-x: auto;
      border: 1px solid #fff;
    }

    &-tr {
      border-bottom: 1px solid #fff;
      position: relative;

      &:not(.head) {
        &:hover {
          background-color: #002c5f;
        }
      }

      &.head {
        background-color: #1403a9;
        font-family: Nes, sans-serif;
        text-transform: uppercase;
        font-size: 21px;

        .content-table-td {
          text-align: left;
        }
      }
    }

    &-td {
      padding: 7px 10px 10px;
      vertical-align: top;
      text-align: left;

      &:not(:last-child) {
        border-right: 1px solid #fff;
      }

      &.players {
        width: 200px;
      }

      &.trophies {
        width: 300px;
      }

      &.trophies-other {
        width: 200px;
      }

      &.icons {
        width: 70px;
      }
    }
  }

  .content-table {
    &-country {
      display: block;
      width: 25px;
      height: 25px;
      object-fit: cover;
      object-position: bottom;
      margin-top: 10px;
    }

    &-trophies {
      display: flex;
      flex-wrap: wrap;
      margin: -2.5px;

      &-trophy {
        margin: 5px;
        max-width: 60px;
        max-height: 60px;
        display: flex;
        align-items: flex-end;

        &-img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: bottom;
        }
      }
    }

    &-icons-wrap {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }

    &-icon {
      display: inline-block;
      cursor: pointer;

      &:hover {
        .content-table-icon-icon {
          transform: rotate(-10deg);
        }
      }

      &-icon {
        transition: transform .3s;
        width: 25px;
        height: 25px;
        fill: #fff;
      }
    }
  }

  .content-table-plImage {
    display: block;
    max-height: 100px;
    max-width: 100%;
    object-fit: contain;
    object-position: bottom;
    margin-top: 15px;
  }

  .content-table-name {
    color: #fff;

    &.link {
      color: #ddf;

      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
