<template>
  <div class="auth">
    <div class="nst-logo">
      <img class="nst-logo-img" :src="require('@/assets/img/logo_white.png')">
    </div>
    <form :class="{'error': errors.invalidCredentialsError }" @submit.prevent="submit()" class="login form">
      <div class="greeting-gif toraji">
        <img class="greeting-gif-gif" :src="require('@/assets/img/ossan.gif')">
        <div :class="{ 'visible': bubbleMessage.text }" class="bubble">
          <p class="bubble-text">{{ bubbleMessage.text }}</p>
        </div>
      </div>
      <div class="fields">
        <div class="field-wrap email">
          <span class="field-label">E-mail</span>
          <input v-model="email" :class="{'error': errors.email}" class="field" type="text">
        </div>
        <div class="field-wrap password">
          <span class="field-label">Password</span>
          <input v-model="password" :class="{'error': errors.password}" class="field" type="password">
        </div>
        <div class="field-wrap password">
          <span class="field-label">Repeat password</span>
          <input v-model="passwordRepeat" :class="{'error': errors.passwordRepeat}" class="field" type="password">
        </div>
        <div class="field-wrap password">
          <span class="field-label">Nickname</span>
          <input v-model="nickname" :class="{'error': errors.nickname}" class="field" type="password">
        </div>
      </div>
      <div class="submit">
        <button class="arrow-link big submit-button submit-register">Стать братком</button>
        <button @click="$router.push({ name: 'login' })" class="arrow-link big submit-button submit-register">Уже браток? Войти.</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: '',
      passwordRepeat: '',
      avatar: '',
      hide_email: true,
      birth_year: 1900,
      nickname: '',
      country: '',
      phone: '',
      errorsCounter: {
        max: 3,
        current: 0
      },
      bubbleMessage: {
        timeoutInstanse: null,
        text: '',
        duration: 5000
      },
      errors: {
        email: '',
        password: '',
        passwordRepeat: '',
        invalidCredentialsError: '',
        nickname: '',
        country: '',
        avatar: '',
        hide_email: '',
        birth_year: '',
        phone: ''
      },
      sounds: {
        success: {
          path: '/sounds/Success.wav',
          audioInstance: null
        },
        error: {
          path: '/sounds/Error.wav',
          audioInstance: null
        }
      }
    }
  },
  methods: {
    submit() {
      if (this.validateFields()) {
          this.axios.post(this.$store.state.apiUrls.register, {
            email: this.email,
            password: this.password,
            hide_email: this.hide_email,
            birth_year: this.birth_year,
            nickname: this.nickname
          }).then(res => {
            console.log(res)
            // localStorage.setItem(this.$store.state.tokenKeyName, res.data.token)
            // this.axios.defaults.headers.common['Authorization'] = `Bearer ${res.data.token}`
            let successMessage = ''
            if (this.errorsCounter.current > this.errorsCounter.max) {
              successMessage = 'Наконец-то, блять...'
            } else {
              successMessage = 'Качество'
            }
            this.launchBubbleMessage(successMessage, this.bubbleMessage.duration)
            this.playSound('success')
            setTimeout(() => {
              this.$router.push({ name: 'login' })
            }, 800)
          }).catch(err => {
            this.addError('Вот ты щас хуйню пишешь, ей богу...', 'invalidCredentialsError')
          })
      }
    },
    validateFields() {
      let noErrors = true

      if (this.email.length) {
        let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        if (!re.test(String(this.email))) {
          this.addError('Неверный формат email, тварь!', 'email')
        } else if (this.email.length < 3) {
          this.addError('Минимум 3 символа', 'email')
        } else if (this.email.length > 100) {
          this.addError('Максимум 100 символов', 'email')
        } else {
          this.errors.email = ''
        }
      } else {
        this.addError('Где email то?', 'email')
      }
      if (!this.password.length) {
        this.addError('А где пароль?', 'password')
      } else {
        if (this.password.length < 5) {
          this.addError('Минимум 5 символов', 'password')
        } else if (this.password.length > 100) {
          this.addError('Максимум 100 символов', 'password')
        } else {
          this.errors.password = ''
        }
      }
      if (!this.passwordRepeat.length) {
        this.addError('Повторите пароль', 'passwordRepeat')
      } else {
        if (this.passwordRepeat !== this.password) {
          this.addError('Пароли не совпадают', 'passwordRepeat')
        } else {
          this.errors.passwordRepeat = ''
        }
      }
      if (!this.nickname.length) {
        this.addError('Придумайте имя', 'nickname')
      } else {
        if (this.nickname.length < 3) {
          this.addError('Минимум 3 символа', 'nickname')
        } else if (this.nickname.length > 20) {
          this.addError('Максимум 20 символов', 'nickname')
        } else {
          this.errors.nickname = ''
        }
      }

      for (let field in this.errors) {
        if (this.errors[field].length) {
          if (field !== 'invalidCredentialsError') noErrors = false
        }
      }
      if (noErrors === true) {
        for (let field in this.errors) {
          if (this.errors[field].length) {
            this.errors[field] = ''
          }
        }
      }
      return noErrors
    },
    async soundsInit() {
      for (let sound in this.sounds) {
        this.sounds[sound].audioInstance = await new Audio(this.sounds[sound].path)
        this.sounds[sound].audioInstance.volume = 0.3
      }
    },
    addError(msg, field) {
      this.errors[field] = msg
      this.errorsCounter.current++
      this.playSound('error')
      this.launchBubbleMessage(this.errors[field], this.bubbleMessage.duration)
    },
    playSound(sound) {
      this.sounds[sound].audioInstance.play()
    },
    launchBubbleMessage(text, duration) {
      clearTimeout(this.bubbleMessage.timeoutInstanse)
      this.bubbleMessage.text = text
      this.bubbleMessage.timeoutInstanse = setTimeout(() => {
        this.bubbleMessage.text = ''
      }, duration)
    }
  },
  created() {
    this.soundsInit()
  }
}
</script>

<style lang="scss" scoped>
.auth {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.form {
  border: 3px solid #fff;
  position: relative;

  &.error {
    border-color: #f00;
  }

  @media screen and (max-width: 400px) {
    width: 100%;
  }
}

.fields {
  padding: 15px 15px 10px;

  @media screen and (max-width: 400px) {
    width: 100%;
  }
}

.greeting-gif {
  position: absolute;

  &.toraji {
    top: -45px;
    right: 0;
    animation: toraji 30s infinite;
  }
}

@keyframes toraji {
  0% {
    transform: translateX(0) rotateY(0deg);
  }
  0.001% {
    transform: translateX(0) rotateY(-180deg);
  }
  49.999% {
    transform: translateX(-268px) rotateY(-180deg);
  }
  50% {
    transform: translateX(-268px) rotateY(0deg);
  }
  99.999% {
    transform: translateX(0) rotateY(0deg);
  }
}

@media screen and (max-width: 400px) {
  @keyframes toraji {
    0% {
      transform: translateX(0) rotateY(0deg);
    }
    0.001% {
      transform: translateX(0) rotateY(-180deg);
    }
    49.999% {
      transform: translateX(-70vw) rotateY(-180deg);
    }
    50% {
      transform: translateX(-70vw) rotateY(0deg);
    }
    99.999% {
      transform: translateX(0) rotateY(0deg);
    }
  }
}

@keyframes toraji-bubble {
  0% {
    transform: rotateY(0deg);
  }
  0.001% {
    transform: rotateY(180deg);
  }
  49.999% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  99.999% {
    transform: rotateY(0deg);
  }
}

.field {
  width: 100%;
  height: 35px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  transition: .2s;
  padding: 10px;

  &:hover {
    border-color: #aaa;
  }

  &-label {
    font-family: 'Nes', sans-serif;
    color: #fff;
    margin-bottom: 3px;
    font-size: 23px;
  }

  &-wrap {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (max-width: 400px) {
      width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.field {
  &.error {
    border-color: #f00;
  }
}

.submit {
  width: 100%;
  text-align: left;
  padding: 0 15px;
  margin-bottom: 13px;

  &-button {
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    transition: .2s;
    border: none;
    font-size: 25px;
    font-family: Nes, sans-serif;
    text-transform: uppercase;
    line-height: 35px;

    &.arrow-link {
      margin-left: 21px;

      &::before {
        top: 54%;
      }
    }
  }

  &-register {
    display: block;
  }
}

.nst-logo {
  margin-bottom: 30px;
  &-img {
    width: 100px;
  }
}

.bubble {
  position: relative;
  opacity: 0;

  &-text {
    position: absolute;
    bottom: 55px;
    left: 35px;
    letter-spacing: .8px;
    min-width: 120px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: rgba(24, 60, 92, .7);
    color: #fff;
    font-family: Nes, sans-serif;
    text-transform: uppercase;
    font-size: 21px;
    padding: 2px 8px 5px;
    animation: toraji-bubble 30s infinite;
  }

  &.visible {
    opacity: 1;
  }
}
</style>
